html,
body,
#__next {
  min-height: 100%;
  height: 100%;
}

html {
  overflow-y: scroll;
}

html {
  --primary-color: var(--chakra-colors-purple-500);
  --scrollbar-thumb-color: var(--primary-color);
  --scrollbar-thumb-hover-color: var(--chakra-colors-purple-600);
}

html[data-theme='dark'] {
  --primary-color: var(--chakra-colors-purple-200);
  --scrollbar-thumb-color: var(--primary-color);
  --scrollbar-thumb-hover-color: var(--chakra-colors-purple-300);
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-color);
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-thumb-hover-color);
}

::-webkit-scrollbar-corner {
  background: transparent;
}

/* Color looks wonky when using color prop on the component for some reason */
#nprogress .peg {
  box-shadow: 0 0 10px var(--primary-color), 0 0 5px var(--primary-color) !important;
}

#nprogress .bar {
  background: var(--primary-color) !important;
}

#nprogress .spinner-icon {
  border-top-color: var(--primary-color) !important;
  border-left-color: var(--primary-color) !important;
}
